In [1]:
print("hello world")

hello world

In [2]:
2+3

5

shift to mark-down to write statements

In [3]:
2-3

-1

In [4]:
2*2

4

In [5]:
3/3

1.0

MOdulo or "mod"operator

In [6]:
7/4

1.75

In [7]:
7%4

3

In [8]:
2**3

8

for power function we can use double *

In [9]:
2**3

8

In [10]:
2+10*10+3

105

In [11]:
(2+10)*10+3

123

In [12]:
(2+10)*(10+3)

156

In [13]:
6**6

46656

In [14]:
6^6

0

In [15]:
6*6

36

In [16]:
1/2

0.5

In [17]:
a = 5

In [18]:
a

5

In [19]:
a = 10

In [20]:
a

10

In [21]:
a + a

20

In [25]:
a = a + a

In [23]:
a

20

In [24]:
a

20

In [26]:
type(a)

int

here type() is used to know the type of value in variable

In [27]:
a = 19.28

In [28]:
type(a)

float

In [31]:
my_income = 100
tax_rate = 0.1
my_taxes = my_income * tax_rate

In [32]:
my_taxes

10.0

In [1]:
'hello'

'hello'

In [2]:
"hello"

'hello'

In [3]:
'this single quote is also a string'

'this single quote is also a string'

In [4]:
"this double quote is also a string"

'this double quote is also a string'

In [5]:
"here as inside the double quote we used single quote'so to not terminae the string here we are using double quote"

"here as inside the double quote we used single quote'so to not terminae the string here we are using double quote"

we can further use escapes and all like \n ,\t,\b and more

In [6]:
print('hello \nWorld')

hello
World

to find the length of string we use len()

In [7]:
len('hello')

5

In [8]:
len("Hey there")

9

In [9]:
#first we make a variable
mystring = "hello world"

In [10]:
mystring

'hello world'

In [11]:
#now to fetch the letter or use the indexing we can pass values
mystring[3]

'l'

In [12]:
mystring[7]

'o'

In [13]:
#also tp use it in reverse way we can put -ve signs
mystring[-2]
#this gives from the back

'l'

In [14]:
#now fornslicing case 
mystring = 'abcdefghijk'

In [15]:
mystring

'abcdefghijk'

In [16]:
#suppose if we wanted to get the string from a 
#particular value to another value and by jumping
#some indexes we can use like (mystring[2:7:2])
#so it will start printing from 2 upto 6(not including)
#last index and will print all the index from 2 after
#each 2 divisions upto 6
mystring[2:7:2]

'ceg'

In [17]:
#suppose if we want from start to last then hit
mystring[0:]

'abcdefghijk'

In [18]:
#for start to upto some value(like 3) we can either use
# (mystring[0:3]) or (mystring[:3])

In [19]:
#for start to upto some value(like 3) we can either use
# (mystring[0:3]) or (mystring[:3]) 
mystring[:3]

'abc'

In [20]:
mystring[3:6]

'def'

In [21]:
mystring[3:6:1]

'def'

In [22]:
#for of these give same answer to find from the string or
#the method is called 'slice'

In [23]:
#also from beginning to last print we can also give
mystring[::]

'abcdefghijk'

In [24]:
#so the 1st placeholder is the starting limit(including itself)
#second placeholder is upto(excluding itself)
#and the 3rd placeholder is the jumps
mystring[2:8:2]

'ceg'

In [25]:
#also to go from backwards or to print backwards we can
#use the jumps as -ve like here we started from 
#beginning to end after jump of -1 that means
mystring[::-1]

'kjihgfedcba'

In [26]:
"hello world"

'hello world'

In [27]:
"hello world"[9]

'l'

In [28]:
'tinker'[1:4]

'ink'

In [29]:
# IMMUTABILITY OF STRINGS(or cannot change part)
name = "Sam"

In [30]:
name[0] = 'P'
#so doing this way gives error as string once created
#are immutable so to do this we need concadination

TypeError: 'str' object does not support item assignment

In [31]:
#for concadination is merging strings together

last_letters = name[1:]

#here we are storing from 1st point to last in a 
#variable (last_letters) so we can add/use it latter

"P" + last_letters

#here we passed the value of last_letters to add with
#(P)

'Pam'

In [32]:
x = 'hello world'
x + 'it is beautiful outside'

'hello worldit is beautiful outside'

In [33]:
x = 'hello world'
x + ' it is beautiful outside'

'hello world it is beautiful outside'

In [34]:
#for multiple concadination
#like we can use multiply sign like
letter = 'z'
letter * 10

'zzzzzzzzzz'

In [35]:
#it we concadinate a number with string it gives error
#like  
2 + 3 #this is number addition
'2'+'3' #this is string addition

'23'

OBJECTS

In [36]:
# we create a varible
x = 'hello world'

In [37]:
#to print uppercase the string 
x.upper()

'HELLO WORLD'

In [38]:
#to really change the string value to upper cae we 
#go to the original string declaration and 
#change it with (x = x.upper())
#like

x = x.upper()

In [39]:
x

'HELLO WORLD'

In [40]:
x = 'hello world'

In [41]:
#for lower case we have (x.lower())
# for spliting the stirng (x.split())
# like here to split all the values
x = "Hi there this is a string"

In [42]:
x.split()

['Hi', 'there', 'this', 'is', 'a', 'string']

In [43]:
#so we can se that this splits all the values inside the
#stirng also we can pass  the split on selected part

x.split('i')

#here we passed (i) in the split so that when it prints
#we can get the values by spliting (i)

['H', ' there th', 's ', 's a str', 'ng']

string formatting for printing

there are multiple ways to format strings for printing variables in them and this is knows as string interpolation

Formatting with .format() method
A good way to format objects into the strings for printf statements is with the string .format() method.
The syntax is:

'String here {} then also {}'.format('something1','something')

In [44]:
print('This is a string {}'.format('INSERTED'))

This is a string INSERTED

In [46]:
# we can also insert it with indexes

print('The {} {} {}'.format('fox', 'brown','quick'))

#also

print('The {0} {0} {0}'.format('fox', 'brown','quick'))

#also

print('The {2} {1} {0}'.format('fox', 'brown', 'quick'))

The fox brown quick
The fox fox fox
The quick brown fox

In [47]:
#also we can use key-value pairs to pass into
print('The {q} {b} {f}'.format(f='fox',b='brown',q='quick'))

The quick brown fox

Float formatting follows"(value:width.precision f)"

In [48]:
result  = 100/777

In [49]:
result

0.1287001287001287

In [52]:
print('The result was {}'.format(result))

The result was 0.1287001287001287

In [51]:
#or we ca use 
print('The result was {r}'.format(r=result))

The result was 0.1287001287001287

In [53]:
#if we want to get upto 3 indes places
#then we can set the parameter from 1(width) to 3(precision)
print('The result was {r:1.3f}'.format(r=result))

The result was 0.129

In [54]:
# if by-mistakely passed wrong or large width we get
# white spaces as width is how much long we want our
#value to be
#like we added 
print('The result was {r:10.3f}'.format(r=result))
print('The result was {r:5.3f}'.format(r=result))

The result was      0.129
The result was 0.129

F strings or formatted string literals introduced in python-3.6

In [56]:
#this is simple (.format method)
print('The result was {}'.format('passed'))

The result was passed

In [59]:
#the f literal method is like to pass (f) before and
# add the other part of the string in {}

print(f"The result was {'passed'}")

The result was passed

In [62]:
# or 

new_result = "passed"

In [63]:
print(f'The result was {new_result}')

The result was passed

In [64]:
# it can take many variables like 

new_result = "passed"
score = 90

In [65]:
print(f'The result was {new_result} and scored {score}')

The result was passed and scored 90

LISTS

\*/ lists are ordered sequences that can hold a variety of object types
\*/ they use [] brackets and commas to sepaerate objects in the list
like : -  [1,2,3,4,5]
\*/ lists support indexing and slicing. lists can be nested and also havea variety of useful methods that can be callef of them

In [1]:
my_list = [1,2,3]

In [2]:
my_list = ['STRING',100,23.2]

In [3]:
len(my_list)

3

In [4]:
mylist = ['one','two','three']

In [5]:
# it also follows indexing and slicing
mylist[0]

'one'

In [6]:
mylist[1:]

['two', 'three']

In [7]:
#we can also concadinate lists
another_list = ['four','five']

In [10]:
# now to concadinate both of them
resultant_list = mylist + another_list

In [11]:
resultant_list

['one', 'two', 'three', 'four', 'five']

In [13]:
# to change in list some vlaue like
resultant_list[0]  = 'ONE ALL CAPS'

In [14]:
resultant_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [15]:
# append allows us to append/add new element to the 
# last/end of the list
resultant_list.append('six')

In [16]:
resultant_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [17]:
#to reove something from list we use POP method like
# if we dont pass any value in () then it pops last val
resultant_list.pop()

'six'

In [18]:
# like if we wanted the popped item we can store it in 
# another variable to be used later

popped_item = resultant_list.pop()

In [20]:
popped_item

'five'

In [21]:
resultant_list

['ONE ALL CAPS', 'two', 'three', 'four']

In [22]:
# to remove at specific index just pass the index pos
another_popped_list = resultant_list.pop(0)

In [23]:
resultant_list

['two', 'three', 'four']

In [25]:
new_letter_list = ['a','e','x','b','c']
new_num_list = [4,1,8,3]

In [26]:
#to sort the list we use this sort() methid so when
#the list is called again the alphabets are in 
#alphabaetical order
new_letter_list.sort()

In [27]:
new_letter_list

['a', 'b', 'c', 'e', 'x']

In [28]:
# to store the sorted list in new variable we have to 
# declare the variable like

new_letter_list.sort()
sorted_list = new_letter_list

In [29]:
# so when we call the variable we get the sorted part
sorted_list

['a', 'b', 'c', 'e', 'x']

In [30]:
# we should do like 
#   (   sorted_list  = new_letter_list.sort()    )
#directly as it doesnt holds the sorted part and 
# doesnt return anything but a (nonetype) when
# we check it by (   type(sorted_lsit)   ) method

In [31]:
new_num_list.sort()
new_sorted_list = new_num_list

In [32]:
new_sorted_list

[1, 3, 4, 8]

In [33]:
# also we can use it in reverse manner like
new_num_list.reverse()

#and store it in a variable

another_sorted_list = new_num_list

In [34]:
another_sorted_list

[8, 4, 3, 1]

In [35]:
# we can also make nested list

nested_list = [8,4,2,3,5,[1,9]]

In [36]:
nested_list[1]

4

In [38]:
# to find the value of the nested list
# just pass the index of the object list in the list
# like here to access 1 inside another list
# we pass the index of the nested list and then 
# pass the index value of the element to be found
# inside the nested list
nested_list[5][0]

1

DICTIONARIES

Disctionaries are unordered mappings for storing objects.previoulsy we saw how lists store objects in an ordered sequence,dictionaries use a key-value pairing
instead

This key-value pair allows users to quickly grab objects without needing to know an index location

Dictionaries use curly braces and colons to signify
the keys and their associated values

{'key1':'value','key':'value2'}

so when to use lists and when dictionaries

DICTIONARIES: objects retrived by key name ad are unordered
and can't be sorted 

LISTS:  Objects retrived by location and ordered sequence 
can be indexed or sliced

In [39]:
# to construct a dictionary
my_dict = {'key1':'value','key':'value2'}

In [40]:
my_dict

{'key1': 'value', 'key': 'value2'}

In [41]:
#to get a particular value like here
# we just pass the key to get its values
my_dict['key1']

'value'

In [42]:
# example
prices_lookup = {'apple': 150,'orange': 120,'banana': 60}

In [43]:
# now to know the price of any item we can pass in the 
# key of that particular value
prices_lookup['orange']

120

In [49]:
# dictionaries can hold a lot of data type 
# from int,float,string,list,dictionaries ,etc

#like

new_dict = {'k1':123, 'K2':[0,1,2],'K3': {'insideKey': 100}}

In [50]:
new_dict['K2']

[0, 1, 2]

In [51]:
# to grab value 100 
new_dict['K3']['insideKey']

100

In [52]:
# for grabbing 2
new_dict['K2'][2]

2

In [53]:
# to update the dict
new_dict['k1'] = "hey"

In [54]:
new_dict

{'k1': 'hey', 'K2': [0, 1, 2], 'K3': {'insideKey': 100}}

In [55]:
# also to update the key and make upper/lower
new_dict['k1'].upper()

'HEY'

In [56]:
new_dict

{'k1': 'hey', 'K2': [0, 1, 2], 'K3': {'insideKey': 100}}

In [57]:
new_dict['k1'].upper()
updated_dict = new_dict['k1'].upper()

In [58]:
updated_dict

'HEY'

In [59]:
new_dict['k1'] = updated_dict

In [60]:
new_dict

{'k1': 'HEY', 'K2': [0, 1, 2], 'K3': {'insideKey': 100}}

In [61]:
# to add more values in dictionaries
# suppoe we have a dict

d = {'A1': 100, 'A2': 200}

In [62]:
d

{'A1': 100, 'A2': 200}

In [63]:
#to add 
d['A3'] = 300

In [64]:
d

{'A1': 100, 'A2': 200, 'A3': 300}

In [65]:
# to update
d['A1'] = 'NEW VALUE'

In [66]:
d

{'A1': 'NEW VALUE', 'A2': 200, 'A3': 300}

In [67]:
#to get the actual keys from dictionaries
d.keys()

dict_keys(['A1', 'A2', 'A3'])

In [68]:
# to get the values of dictionaries
d.values()

dict_values(['NEW VALUE', 200, 300])

In [70]:
# to get both key-value together
d.items()

dict_items([('A1', 'NEW VALUE'), ('A2', 200), ('A3', 300)])

TUPLES

Tuples are very similar to lists. However they have one key difference - IMMUTABILITY

once an element is inside a tuple,it can not be reassigned

Tuples use parenthesis :  (1,2,3)

In [71]:
t = (1,2,3)

In [72]:
my_list_1 = [1,2,3]

In [73]:
type(t)

tuple

In [74]:
type(my_list_1)

list

In [75]:
len(t)

3

In [77]:
# we can have many data types in tuples
t = ('one',2)

In [78]:
t

('one', 2)

In [79]:
# can use indexing and slicing
t[0]

'one'

In [80]:
t[-1]

2

In [81]:
t = ('a','a','b')

In [82]:
# it return back how many times a occurs
t.count('a')

2

In [83]:
# to return the index location we use index()
# but remember it returns the very first index where 
# it is returned 
t.index('a')

0

In [84]:
t.index('b')

2

In [85]:
my_list_1

[1, 2, 3]

In [86]:
my_list_1[0] = 'NEW'

In [87]:
my_list_1

['NEW', 2, 3]

In [89]:
# this is what makes tuples diffrent from others it gives
# error for re-assignment 
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

SETS

Sets are unordered collections of unique elements
Meaning there can only be one representative of the same object

In [90]:
# to create an empty set  
myset = set()

In [91]:
myset

set()

In [92]:
# to add elements 
myset.add(1)

In [93]:
myset

{1}

In [94]:
myset.add(2)

In [95]:
myset

{1, 2}

In [96]:
# now if we add again 2 which is already present 
myset.add(2)

In [98]:
# and when we print the value of myset we get the same 
# {1,2} not any more 2 is added as in sets there are 
# unique elements only
myset

{1, 2}

In [99]:
my_new_list_1 = [1,1,1,1,1,1,2,2,2,2,3,3,3,3]

In [100]:
# now if we try to set the list we only get unique
# items and also they are not ordered,like in reality
# when we work with lot of data we can see
# it doesnt have order
set(my_new_list_1)

{1, 2, 3}

BOOLEANS

Booleans are operators that allow us to convey TRUE /FALSE statements
these are very important when we deal with control flow and logic

In [101]:
True

True

In [102]:
False

False

In [103]:
type(True)

bool

In [104]:
1 > 2

False

In [105]:
# we can like this the conditions
1 == 1

True

In [106]:
# we can use a NONE as placeholder when it is not defined
z = None

WORKING WITH BASIC FILES

this is how we write files in jupyter notebook

In [111]:
%%writefile myfile.txt
Hello this is a text file
this is the second line
this is the third line

Overwriting myfile.txt

In [112]:
# to open the created file
myfile = open('myfile.txt')

In [113]:
# if there is no such file name we get a error like this
myfile = open('whops_wrong.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'whops_wrong.txt'

In [115]:
# in soe cases the files dont open and gives error
# as the files are not in the same directory as the
# jupyter notebook is so to know the jupyter notebook's
# library just hit

In [116]:
pwd

'C:\\Users\\KIIT\\Desktop\\New folder\\Python Scripts'

In [117]:
# so to call the txt files it should be saved in the same
# location like the location up

In [118]:
# so now we open the file
myfile = open('myfile.txt')

In [119]:
# then to read the file we use read() and it returns 
# a giant string of whatever there is present inside the 
# txt file 
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [120]:
# also when we again hit the read() command we get
myfile.read()

''

In [121]:
# this '' indicates that when we read the file the 
# cursor goes from the starting point 0(index) which has
# (') and goes upto last (') so when we re-read it it
# gives back ''

# so to seek back to the start position we do
myfile.seek(0)

0

In [122]:
# this resets the cursor and now if we want to read we
# get the file contents and if we call agai nand again 
# we need to reset it again and again
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [123]:
myfile.seek(0)

0

In [124]:
# also we can store the value into other variable
contents = myfile.read()

In [125]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [126]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [127]:
# for reading the lines as they are we can hit
myfile.readlines()

[]

In [128]:
# but this gave only the [] as the cursor again reached
# the last position so seek it again to 0
myfile.seek(0)

0

In [129]:
myfile.readlines()

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the third line\n']

FILE LOCATIONS

if we want to open files at another location on our computer
then simply pass the entire file path

For windows we need to use double \ so python doesnt treat 
the second  \  as an escape character, a file path is in the
form: 

myfile = open("C:\\Users\\UserName\\Folder\\test.txt")

For MacOS and Linux slashes are in opp. direction

myfile = open("/Users/YouUserName/Folder/myfile.txt")

In [130]:
# if we have opened the file before like here the 
# test.txt file is open so to re-open it or delete it 
# we need to close it first
myfile.close()

In [131]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [132]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

here we used (with) which specified that to open the file (myfile.txt) which has some texts and take (my_new_file) as the variable and then we stored the files content or the texts in the (contents) 
NOw we can print the contents to print the stored contnt of 
files

In [133]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [134]:
# if we tried to write into the files by this code and
# we get an error as the file is set to read only from 
# before
with open('myfile.txt',mode='w')as myfile:
    contents = myfile.read()

UnsupportedOperation: not readable

Reading,Writing,Appending Modes

* mode = 'r' is read only
* mode = 'w' is write only(will overwrite files or create new)
* mode = 'a' is append only(will add on to files)
* mode = 'r+'is reading and writing
* mode = 'w+'is writing and reading(overwrites existing files or creates a new file)

In [135]:
%%writefile my_new_file.txt
ONE ON FIRST
TWO ON SECOND

Writing my_new_file.txt

In [136]:
with open('my_new_file.txt', mode = 'r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND

In [137]:
# to add new line
# so this will append the line to the last as the cursor 
# is at the last line
with open('my_new_file.txt', mode = 'a') as f:
    f.write('THREE ON THIRD')

In [138]:
# now we re-run to get the updated txt 
with open('my_new_file.txt', mode = 'r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [139]:
# for writing 
# if the file exists (w) will overwrite it, it not then 
# create a new file 
# although this file is not present but since we openned
# it (w) python has created this file for us
# if we would have done this with read or append there
# would have been an error as there isnt any file

with open('nejfnhnihisdnknjkds.txt', mode = 'w') as f:
   f.write('I CREATED THIS FILE!')

In [140]:
with open('nejfnhnihisdnknjkds.txt', mode = 'r') as f:
    print(f.read())

I CREATED THIS FILE!