COMPARISON OPERATORS

In [1]:
2 == 2

True

In [2]:
2 == 1

False

In [3]:
'hello' == 'bye'

False

In [4]:
'bye' == 'bye'

True

In [6]:
'2' == 2

False

In [7]:
2.0 == 2

True

In [8]:
3 != 0

True

In [9]:
1 < 2

True

In [10]:
2<1

False

In [11]:
2 <=1

False

In [12]:
1<=2

True

CHAINING COMPARISON OPERATORS

we can use logical operator to combine comparisons: 

* AND
* OR
* NOT

In [14]:
1 < 2 < 3

True

In [15]:
1 < 2 >3

False

to use a logical operator

In [16]:
1 < 2 and 2>3

False

In [17]:
'h' == 'h'and 2 == 2

True

In [18]:
'j' == 'j' or 2 == 3

True

In [19]:
'i' == 'j' or 2 == 3

False

In [20]:
not(1 == 1)

False

In [21]:
# or 
not 1==1

False

CONTROL FLOW

we often only want certain code to execute when a particular condition has been met
ex- if my dog is hungry  (some condition).
    then i will feed the dog(some action)
    
to use control flow we use :
    * if
    * elif
    * else
    
Syntax:-
   
    if some_condition:
        # execute some code
    elif: 
        # do something different
    else:
        # do something else

In [27]:
# here if hungry is true then if gets printed
hungry = True

if hungry:
    print('FEED ME')
else: 
    print('I AM NOT HUNGRY')
    
# we can also check hungry = True in (if) statement
# but it is of no use as hungry is itself a boolean

FEED ME

In [29]:
loc = 'Bank'

if loc == 'Auto shop':
    print("Cars are cool")
elif loc == 'Bank':
    print('Money is Cool')
elif loc == 'Store':
    print('But something')
else:
    print('I do not know much')

Money is Cool

In [31]:
name = 'Sammy'

if name == 'Franky':
    print("Hello Franky")
elif name == 'Sammy':
    print("Hello Sammy")
else: 
    print("Whats your name?")

Hello Sammy

FOR LOOPS

many objects in pythin is iterable
ITERABLE means we cn "iterate" over the object

ex - we can iterate over every character in a string, iterate over every item in a list, iterate over every key in a dictionary

SYNTAX:- 

    my_iterable = [1,2,3]
    for item_name in my_iterable:
        print(item_name)
        
    this prints : 
                    1
                    2
                    3

In [32]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [33]:
# here we declare a variable (num) to check for 
# the value present in (mylist) or not

for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [36]:
# we can print whatever we want by
# changing in the print()

# some example

for num in mylist:
    #check for even
    if num % 2 == 0:
        print(f'even number: {num}') # we canuse string formating here
    else:
        print(f'odd number: {num}')  # same here

odd number: 1
even number: 2
odd number: 3
even number: 4
odd number: 5
even number: 6
odd number: 7
even number: 8
odd number: 9
even number: 10

In [37]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    
print(list_sum) # this print is outside the for loop

# if we add the print inside for we get this

55

In [38]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    # if we add the print inside for we get this
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [39]:
mystring = 'Hello world'

for letter in mystring:
    print(letter)

H
e
l
l
o

w
o
r
l
d

In [40]:
# also without using the variable mystring we can  print 
# but it becomes to lathargic to type all there

for letter in 'Hello world':
    print(letter)

H
e
l
l
o

w
o
r
l
d

In [41]:
# we can also read tuples

tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [42]:
my_new_list = [(1,2),(3,4),(5,6),(7,8)]

In [43]:
len(my_new_list)

4

In [44]:
for item in my_new_list:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [45]:
# TUPPLE UNPACKING
# so now we have access to each item of the tuples 

for (a,b) in my_new_list:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [47]:
# if we want to print only one item we can set it

for (a,b) in my_new_list:
    print(a)

1
3
5
7

In [48]:
# but if we right now just print 

print(a) 

# or (b) then we get the last tuples values as the
# loops cursor has moved to the last

7

In [50]:
# this can be seen in (b) also

print(b)

8

In [51]:
# we can also print the tuples list without a ()

for a,b in my_new_list:
    print(a)

1
3
5
7

In [52]:
another_list = [(1,2,3),(5,6,7),(8,9,10)]

In [54]:
for item in another_list:
    print(item)

(1, 2, 3)
(5, 6, 7)
(8, 9, 10)

In [55]:
# for printing each tuples values seperately

for a,b,c in another_list:
    print(a,b)

1 2
5 6
8 9

In [56]:
for a,b,c in another_list:
    print(c)

3
7
10

In [57]:
# to iterate thorugh dictionary

d = {'k1': 1,'k2':2, 'k3': 3}

for item in d:
    print(item)
    
#if we do like this we get the (keys) not values

k1
k2
k3

In [59]:
# for getting values and keys

for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [62]:
# or we can do 

for key,value in d.items():
    print(key,value)

k1 1
k2 2
k3 3

In [63]:
for value in d.values():
    print(value)

1
2
3

also we should keep this is mind that when we iterate thorugh dictionaries we can or cannit get the items in the 
order they are put in,as dictionaries are unordered

WHILE LOOPS

while loops will continue to execute a block of code while some condition remains True.
ex- while my pool is not full, keep filling my pool with water
or while my dogs are still hungry,keep feeding my dogs.

SYNTAX:- 
        
           while some_boolean_condition:
               # do something
            
            
           we can also add/combine with an else if we want:
                
                    while some_boolean_condition:
                        #do something
                    else:
                        # do something different

In [66]:
x = 0;

while x < 5:
    print(f'The current value of x is {x}')
    x +=1
else:
    print("X is not less than 5")

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X is not less than 5

In [67]:
x = 50;

while x < 5:
    print(f'The current value of x is {x}')
    x +=1
else:
    print("X is not less than 5")

X is not less than 5

BREAK, CONTINUE, PASS

we can use break,continue and pass statements in our loops
to add additional functionality for various cases.
the three statements are defined by:

    break: Breaks out of the current closest enclosing loop
    continue: goes to the top of the closest enclosing loop
    pass: does nothing at all

In [74]:
z = [1,2,3]

for item in z:
    # comment, when we comment here somwthing and run it
    # it gives error as python is based on white space
    # and indentation so we need to give here something 
    # so we can use (pass)instead of some code when reqd.

SyntaxError: unexpected EOF while parsing (<ipython-input-74-4f324c943f49>, line 7)

In [75]:
# use of pass as defiened above

z = [1,2,3]

for item in z:
    # comment
    pass

print('End of the script')

End of the script

In [78]:
# use of continue

my_newest_string = 'Sammy'

for letter in my_newest_string:
    print(letter)

S
a
m
m
y

In [79]:
# use of continue

# here we check if the (letter) is equal to (a) or not
# if it is equal then the (continue) tells python to 
# go back on the top of the nearest enclosing lop like 
# here the nearest lop is (for) so it first matches  the
# condition and if it is true it goes up and then runs 
# the loop again anf again until the condition is met
# false and if met false it will go on to the next line

for letter in my_newest_string:
    if letter == 'a':
        continue 
    print(letter)

S
m
m
y

In [80]:
# if we use break then it breaks the loop and just
# prints the letter that was encountered before meeting
# the equal execution

for letter in my_newest_string:
    if letter == 'a':
        break 
    print(letter)

S

In [84]:
a = 0

while a < 5:
    print(a)
    a += 1

0
1
2
3
4

In [85]:
a = 0

while a < 5:
    if a == 2:
        break
    print(a)
    a += 1

0
1

SOME USEFUL OPERATORS IN PYTHON

In [86]:
list_1 = [1,2,3]

In [90]:
# the range operator takes 3 properties
#      1st is the starting value(including itself)
#      2nd is the ending value(excluding itself)
#      3rd is the jump 
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [91]:
# this range() is actually a generator so to cast it into
# a list we can make it like

list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [93]:
# ENUMERATE operator

index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [94]:
# often what people do that they make print the index
# of the word(alphabet) 

index_count = 0
word = 'abcde'

for letter in 'abcde':
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [97]:
# so for all this cases what we can do is use (enumerate)
# so we get the output in the form of tuples
word = 'abcde'

for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [102]:
# we can also set it to give individual values

word = 'abcde'

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [103]:
# ZIP function is opposite of enumerate

mylist_1 = [1,2,3]
mylist_2 = ['a','b','c']

In [104]:
# so if we use ZIP() we dont get anything except the 
# hexadecimal memory place

zip(mylist_1,mylist_2)

In [105]:
# so to iterate through it,it then gives 
# output in the form of tuples

for item in zip(mylist_1,mylist_2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [106]:
# id the list are of different size so ZIP() is going
# to zip only that much of elements that is shortest
# example if the list are like below it will give 
# the output of the shortest list

mylist_1 = [1,2,3]
mylist_2 = ['a','b','c']
mylist_3 = [100,200,300]

In [107]:
for item in zip(mylist_1,mylist_2,mylist_3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [108]:
# also we can type-cast it again 

list(zip(mylist_1,mylist_2,mylist_3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [109]:
# further we can unpack the lists also 

for a,b,c in zip(mylist_1,mylist_2,mylist_3):
    print(b)

a
b
c

In [110]:
for a,b,c in zip(mylist_1,mylist_2,mylist_3):
    print(c)

100
200
300

In [111]:
# also we can check if something is present
# in a list or not like:-

'x' in [1,2,3]

False

In [112]:
'x' in ['x','y','z']

True

In [113]:
'a' in 'a world'

True

In [114]:
# also can check in dictionaries

'mykey' in {'mykey': 345}

True

In [115]:
# or can do like this for dictionaries

d = {'mykey': 345}

345 in d.values()

True

In [116]:
345 in d.keys()

False

In [117]:
# to get minimum and maximum values from 
# the list we can use min() and max()

mylist_5 = [10,20,30,40,50]

In [118]:
min(mylist_5)

10

In [119]:
max(mylist_5)

50

RANDOM LIBRARY

python comes with its built-in random library
which has tons of functions in it

In [120]:
# to import functions from a library

from random import shuffle

In [121]:
# this shuffle fucntions just shuffles around any list

mylist_6 =  [1,2,3,4,5,6,7,8,9,10]

In [122]:
shuffle(mylist_6)

In [123]:
mylist_6

[1, 10, 5, 3, 7, 2, 9, 6, 8, 4]

In [124]:
mylist_6

[1, 10, 5, 3, 7, 2, 9, 6, 8, 4]

In [125]:
shuffle(mylist_6)

In [126]:
mylist_6

[6, 5, 1, 2, 10, 8, 3, 4, 9, 7]

In [127]:
# for grabbing a random integer 

from random import randint

In [128]:
# it takes two property 
#      1st is the starting point to find any random
#      2nd is the range limit to find upto this
# so it finds any random int between (0,100)

randint(0,100)

3

In [129]:
# we can save the random number in a variable and can
# work with it later on if required

my_random_num = randint(0,100)

In [130]:
my_random_num

59

In [131]:
my_random_num

59

In [132]:
# TO ACCEPT USER INPUT 

input('Enter a number: ')

Enter a number: 50

'50'

In [135]:
#so we can save it inside a variable and can use it later

result = input('Enter a number:  ')

Enter a number:  19

In [137]:
# so when we actually ask the result it return a string
# not a int value like here it is '19'

result

'19'

In [138]:
type(result)

str

In [139]:
# to type cast we can say 

int(result)

19

In [140]:
float(result)

19.0

In [141]:
# so this is how we can type-cast it into reqd form

In [142]:
# rather doing this we can directly make it and save it 
# in the form of int,float or whatever type we want 

result = int(input('Enter a number:    '))

Enter a number:    19

In [143]:
# when we check the type now it gives (int)

type(result)

int

LISTS COMPREHENSIONS

list comprehensions are a unique way of quickly creating a list with pytho
if we find ourself using a for loop along with .append() to 
create a list,List comprehensions are a good alternative

In [1]:
my_string = 'hello'

In [3]:
my_new_list = []

for letter in my_string:
    my_new_list.append(letter)

In [4]:
my_new_list

['h', 'e', 'l', 'l', 'o']

In [5]:
# this code up is a example(alternative of looping 
# something, also can do this as: 

# first we breakdown this code into the form of 
# list comprehensions
# as all the code of the for loop actually goes inside 
# the braces of my_new_list

my_new_list = [letter for letter in my_string]

# this is alternative of the upper method using 
# list comprehensions
# the logic  in here is a flatened out for loop because
# we are going to assume that the only logic that is 
# going to be appending the elements we want

# so what this does is that it takes the
#      elements(letter)    and runs a loop(for)
#      letter(elements)  in (my_new_string)
#      where we want to put the code in

In [6]:
my_new_list

['h', 'e', 'l', 'l', 'o']

In [7]:
my_new_list_1 = [x for x in 'word']

In [8]:
my_new_list_1

['w', 'o', 'r', 'd']

In [11]:
# more example

my_new_list_2 = [num for num in range(0,11)]

In [12]:
my_new_list_2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
# we can also perform the operation here in the code 
# ifself,suppose if we want to get the square of
# the numbers we can add

my_new_list_2 = [num**2 for num in range(0,11)]

In [14]:
my_new_list_2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [15]:
# we can also add the conditional statements like (if)

my_new_list_3 =[num for num in range(0,11) if num%2 == 0]

In [16]:
my_new_list_3

[0, 2, 4, 6, 8, 10]

In [17]:
# example
celcius = [0,10,20,34.5]

fahrenheit = [( (9/5)*temp + 32) for temp in celcius]

In [18]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [19]:
# this code up is the way of doing the loop using 
# list comprehensions & the code below is by regular way

fahrenheit_1 = []

for temp_1 in celcius:
    fahrenheit_1.append(( (9/5)*temp_1 + 32))

In [20]:
fahrenheit_1

[32.0, 50.0, 68.0, 94.1]

USING LIST COMPREHENSIONS IN (if/elif/else)

but i would not prefer this for starting with python
as it makes the code a bit difficult to read when we 
see the code after few time/days

In [21]:
new_result = [x if x%2==0 else 'ODD' for x in range(0,11)]

In [22]:
new_result

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [25]:
# we can also do nested loop in list comperehensions

my_list_7 = []

for c in [2,4,6]:
    for d in [1,10,100]:
        my_list_7.append(c*d)

In [26]:
my_list_7

[2, 20, 200, 4, 40, 400, 6, 60, 600]

In [27]:
#using list comprehension the upper nested loop will be

my_list_8 = [x*y for x in [2,4,6] for y in [1,10,100]]

In [28]:
my_list_8

[2, 20, 200, 4, 40, 400, 6, 60, 600]